@model List<DataGov_API_Intro_6.Models.Food_Item>
<!DOCTYPE html>
<html>

<head>
    <title>Create Data</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <style>
        body, html {
            height: 100%
        }

        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Amatic SC", sans-serif
        }

        .menu {
            display: none
        }

        .page-btn {
            color: black !important;
            background-color: white !important;
            border-radius: 2px;
        }

        .bgimg {
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/w3images/pizza.jpg");
            min-height: 90%;
        }
    </style>
      @{
    ViewData["Title"] = "CreateRecord";
}

@{
    Layout = "";
 }
</head>

<body id="myPage">
    <!-- Navbar -->
    <<div class="top w3-xlarge">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off bar">
            <a class="bar-item button hide-medium hide-large right hover-white theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a asp-controller="Home" asp-action="Index" class="bar-item button"><i class="fa fa-home margin-right"></i>Home</a>

            <a asp-controller="Home" asp-action="SearchRecord" class="bar-item button">Nutrient Data</a>
            <a asp-controller="Home" asp-action="Analyze" class="bar-item button">Visualize Nutrient Data</a>

            <a asp-controller="Home" asp-action="AboutUs" class="bar-item button hide-small hover-white">About Us</a>
        </div>
        <!-- Navbar on small screens -->
        <div id="navDemo" class="bar-block theme-d2 hide hide-large hide-medium">
            <a asp-controller="Home" asp-action="SearchRecord" class="bar-item button">Nutrient Data</a>
            <a asp-controller="Home" asp-action="Analyze" class="bar-item button">Visualize Nutrient Data</a>
            <a asp-controller="Home" asp-action="AboutUs" class="bar-item button">About Us</a>
        </div>
    </div>
    <!--Add the content here-->
    <!--Create Data container-->
    <!--Nutrient Data container-->
    <div class="row center w3-container w3-blue w3-grayscale w3-padding-64 w3-xlarge">

        <h3>Create Record</h3>
        <hr>

        <br>

        <form asp-controller="Home" asp-action="CreateRecord" onsubmit="return createformvalidation()">
            <div class="row1 center">

                <div class="col-25">
                    <label style="font-weight: bold">Food</label>
                    <input type="text" for="food_name" class="form-control" name="food_name" size="4" id="food" required/>
                </div>
                <div class="col-25">
                    <label style="font-weight: bold">Protiens</label>
                    <input type="text" for="prot" name="prot" class="form-control" size="4" id="prot" required/>


                </div>
                <div class="col-25">
                    <label style="font-weight: bold">Carbohydrates</label>
                    <input type="text" for="carb" name="carb" class="form-control" size="4" id="carb" required>


                </div>
                <div class="col-25">
                    <label style="font-weight: bold">Fats</label>
                    <input type="text" for="fat" name="fat" class="form-control" size="4" id="fat" required>


                </div>
                <div class="col-25">
                    <label style="font-weight: bold">Sugar</label>
                    <input type="text" for="sugar" class="form-control" name="sugar" size="4" id="sug" required>


                </div>
                <div class="col-25">
                    <label style="font-weight: bold">Energy</label>
                    <input type="text" for="energy" name="energy" class="form-control" size="4" id="eng" required>
                </div>
                <br>
            </div>



        
        <br>

        <div class="w3-row w3-center">
            <div>
                <br>
                <br>
                <button type="submit" name="create" class="button page-btn padding-small" style="height: 60px; width: 120px; font-size: 22px;border-radius:2px;border-color:darkslategray    ">Create</button>
                <br>
                <br>
            </div>
        </div>
        </form>
         @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                
                text = "Record Created Successfully";
                document.getElementById("demo").innerHTML = text;
            };
                </script>

            }
            @if(ViewBag.Message == null)
                {
                        <script type="text/javascript">
            window.onload = function () {
                
                text = "Food Record Already Exists.";
                document.getElementById("demo").innerHTML = text;
            };
                </script>

                   
                }
        <h3 id="demo"></h3>
        <h5 id="demo1"></h5>
        <p>Click <a asp-controller="Home" asp-action="SearchRecord" style="color: blue;">Nutrient Data </a>to go back to the previous page.</p>
        <br>



    </div>

    <!-- Footer -->

    <div class="bottom">
        <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">

            <a href="https://fdc.nal.usda.gov/" title="Source Data"> Source Data</a> | <a href="https://www.usf.edu/" title="USF">USF</a> | <a asp-controller="Home" asp-action="Privacy" title="Privacy Policy">Privacy Policy</a> | <a href="mailto:nutri@gmail.com" title="Contact Us">Contact Us</a>
        </footer>
    </div>
    
    <script src="/js/Chart.min.js"></script>
    <script>
    function createformvalidation() {
	alert('hi',document.getElementById("prot").value);
	var x, x1, x2, x3, x4, x5, text, text1;
	var l = [];
	// Get the value of the input field with id="numb"
	x1 = document.getElementById("prot").value;
	x2 = document.getElementById("carb").value;
	x3 = document.getElementById("fat").value;
	x4 = document.getElementById("sug").value;
	x5 = document.getElementById("eng").value;
	l.push(x1);
	l.push(x2);
	l.push(x3);
	l.push(x4);
	l.push(x5);
	// If x is Not a Number or less than one or greater than 10
	for (let x in l) {
        alert('now here',x,x1,x2,x3,x);
		if (isNaN(x) || x < 0 || x > 1000000 || !(x1) || !(x2) || !(x3) || !(x)) {
            alert('failed',x,x1,x2,x3,x);
			text = "Record not Created";
			text1 = "Please provide input for all fields and make sure the Value field is numeric";
            document.getElementById("demo").innerHTML = text;
	        document.getElementById("demo1").innerHTML = text1;
			return false;
		} else {
			text = "Record Created Successfully";
			text1 = ""
		}
	}
    if(text == "Record Created Successfully"){
        document.getElementById("demo").innerHTML = text;
	    document.getElementById("demo1").innerHTML = "";
        return true;
    }
   
	

}
    </script>
</body>

</html>